.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 30px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
  transition: all 0.6s;
}

.button_simple {
  background-color: rgb(197, 110, 110);
}

.button_simple:hover {
  background-color: rgb(184, 57, 57);
}

.button_simple svg {
  fill: pink;
}

.button_form {
  background-color: aqua;
}

.button_form:hover {
  background-color: rgb(4, 136, 136);
}
.button_cards {
  background-color: blueviolet;
}

.button_cards:hover {
  background-color: rgb(97, 32, 158);
}
